.none {
    display: none !important;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0
}

html {
    background-color: #f0f0f0;
    height: 100%
}

body {
    font: normal 14px/22px Arial, "Microsoft YaHei";
    color: #323232;
    background-color: #eee;
    max-width: 640px;
    margin: 0 auto;
    min-height: 100%
}

em, footer, h1, h2, h3, h4, input, li, mark, nav, ol, p, section, span, textarea, ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none;
    font-style: normal
}

input, select, textarea {
    border: none;
    outline: 0
}

mark {
    background-color: transparent
}

img {
    border: none;
    vertical-align: bottom
}

a {
    color: #323232;
    outline-style: none;
    text-decoration: none
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both
}

.l_txt {
    text-align: left
}

.c_txt {
    text-align: center
}

.r_txt {
    text-align: right
}

.indent_txt {
    text-indent: 2em
}

.rel {
    position: relative
}

.abs {
    position: absolute
}

.fix {
    position: fixed
}

.hide {
    display: none
}

.no_padd {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0
}

.no_margin {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0
}

.margin_auto {
    margin: 0 auto
}

.t_hide {
    text-indent: -9999px
}

.bold {
    font-weight: 700
}

.block {
    display: block
}

.inline_b {
    display: inline-block
}

.over_hidden {
    overflow: hidden
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.wrap {
    width: 100%
}

.not_render {
    visibility: hidden
}

.tle_txt {
    font-size: 14px
}

.wkt_box {
    display: -webkit-box
}

.i_pri {
    color: #d93229;
    font-size: 16px
}

.market {
    color: #a1a1a1;
    text-decoration: line-through
}

.gray_txt, .gray_txt a, a.gray_txt, a.gray_txt:hover {
    color: #707070
}

.red_txt, .red_txt a, a.red_txt, a.red_txt:hover {
    color: red
}

.btns {
    width: 100px;
    line-height: 38px;
    background-color: #675079;
    margin-bottom: 20px;
    border-radius: 5px
}

.btns:active {
    background-color: #7d6092
}

.eye {
    position: absolute;
    right: 0.42rem;
    top: 1.3rem;
    width: 1.1rem;
}

#theIframeDiv {
    width: 100%;
    max-width: 640px;
    top: 10%;
    position: absolute
}

#theIframe {
    width: 90%;
    border: none;
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    overflow: hidden;
    top: 10%;
    left: 5%;
    z-index: 100000
}

.opac0 {
    opacity: 0
}

.fadeIn {
    -webkit-transition: opacity .3s ease-in;
    opacity: 1
}

.am {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden
}

.hd_tle {
    font-size: 16px
}

.loading {
    background: url(//s.geilicdn.com/login/20176/images/loading.gif) center no-repeat;
    background-size: 20px
}

footer, header, section {
    display: block
}

.login_body_height {
    height: 100%;
    overflow: hidden
}

#login_float_bg {
    width: 90%;
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    top: 30px;
    left: 5%
}

#floatDiv_closeWrap {
    z-index: 100001;
    display: none
}

#login_wrap {
    padding: 15px 15px;
    background: #fff
}

#login_form_submit {
    margin-top: 20px
}

#country {
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    text-indent: 0
}

#login_tle {
    margin-bottom: 15px
}

.login_input_wrap {
    height: 35px;
    margin-bottom: 10px
}

#login_select_hack_wrap {
    background-color: #f6f6f6;
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden
}

.input_for_login {
    height: 35px;
    line-height: normal;
    background-color: #e3e2e2;
    border-radius: 0;
    text-indent: 6px;
    font-size: 14px
}

#forget_pwd_a {
    color: #586b95;
    text-decoration: underline;
    line-height: 30px
}

.u_btns {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: #df2828;
    border-radius: 2px;
    display: block
}

#loginSMS_tle {
    font-size: 16px;
    padding-bottom: 10px
}

#catch_wrap {
    height: 37px;
    line-height: 35px;
    padding-left: 0;
    margin-bottom: 10px
}

#catch_code_btn, #catch_times, #safe_code_input {
    width: 48%;
    height: 100%
}

#safe_code_input {
    height: 35px;
    text-indent: 6px;
    border: 1px solid #ededed
}

#catch_code_btn, #catch_times {
    right: 0;
    top: 0;
    z-index: 10
}

#catch_code_btn {
    background-color: #4fa541;
    color: #fff;
    z-index: 11
}

.ellipsis_common_hd {
    padding-left: 94px;
    padding-right: 94px
}

.ellipsis_common_hd h1 {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis
}

.reg_tip {
    line-height: 25px;
    margin: 10px auto;
    background: url(/images/common/onsf_icon.png) no-repeat 4px;
    background-size: 16px;
    padding-left: 22px;
    text-align: left
}

.reg_tip a {
    color: #2b86e0
}

.btncancel, .btn, .btnok {
    display: block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px
}

.btn {
    background: #66CCFF;
    color: #fff;
    opacity: .4;
}

.btnok {
    background: #FF0000;
    color: #fff;
}

.btnok:active {
    color: #fff !important;
    background-color: #ddd !important;
    /*
	 * opacity: .4
	 */
}

.btn, .btnok.enable {
    opacity: 1
}

.btncancel {
    background: #f6f5f5;
    color: #ce3529
}

#_alert_bg, #_captcha_bg, #_confirm_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: background .2s;
    z-index: 100001
}

#_captcha_bg {
    z-index: 100000
}

#_alert_content, #_captcha_content, #_confirm_content {
    border-radius: 8px;
    margin: 0 auto;
    color: #333;
    text-align: center;
    font-size: 16px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: all .5s ease;
    will-change: background-color
}

#_alert_content {
    width: 240px;
    padding: 15px;
    top: 30%
}

#_confirm_content {
    min-width: 250px;
    width: 70%;
    padding: 0;
    top: 25%;
    font-size: 14px
}

#_captcha_content {
    top: 100px;
    margin: 0 40px
}

#_confirm_text {
    padding: 20px 10px
}

#_captcha_text {
    padding: 15px
}

#_captcha_text h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px
}

#_captcha_text p {
    font-size: 14px;
    color: #737373;
    line-height: 20px
}

#_captcha_btnW, #_confirm_btnW {
    width: 100%;
    height: 43px;
    line-height: 43px;
    border-top: #e3e3e3 solid 1px;
    margin: 0 auto;
    color: #337ab7
}

#_captcha_cancel, #_captcha_submit, #_confirm_btnA, #_confirm_btnB {
    width: 49%;
    height: 100%;
    font-size: 16px
}

#_captcha_cancel a, #_captcha_submit a, #_confirm_btnA a, #_confirm_btnB a {
    color: #333
}

#_captcha_cancel, #_confirm_btnA {
    float: left;
    border-right: #e3e3e3 solid 1px
}

#_captcha_cancel:last-child, #_confirm_btnA:last-child {
    float: none;
    border-right: none;
    width: 100%
}

#_captcha_submit, #_confirm_btnB {
    float: right
}

#_captcha_submit:first-child {
    float: none;
    width: 100%
}

#_captcha_img_wrap {
    height: 34px;
    line-height: 34px;
    padding: 16px 0
}

#_captcha_img {
    border: 1px solid #ccc;
    display: inline-block
}

#_captcha_voice_wrap {
    padding: 0 28px;
    overflow: hidden;
    margin-bottom: 20px
}

#_captcha_voice_wrap #_captcha_input {
    float: left;
    height: 32px;
    line-height: 32px;
    width: 55%;
    font-size: 14px
}

#_captcha_voice_wrap #_captcha_reset {
    float: right;
    width: 30%;
    height: 32px;
    line-height: 32px;
    background: #f7f7f7;
    border: 1px solid #cacaca;
    border-radius: 2px;
    font-size: 14px;
    color: #222;
    margin-left: 0
}

#_captcha_reset {
    margin-left: 28px;
    display: inline-block;
    color: #337ab7
}

#_captcha_input {
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 92%;
    padding: 0 4%;
    font-size: 16px
}

body, html {
    background-color: transparent
}

input {
    -webkit-tap-highlight-color: transparent
}

select {
    color: #323232;
    -webkit-tap-highlight-color: transparent appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

* {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

#login_content_wrapper {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1)
}

#login_content_wrapper.enableScroll {
    position: static;
    z-index: auto;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    overflow: auto
}

#login_content_wrapper .btn, .btnok {
    margin-top: 30px
}

#login_content_close {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 900;
    top: 15px;
    right: 15px
}

.login_content_close_em {
    width: 20px;
    height: 1px;
    position: absolute;
    top: 14px;
    left: 5px;
    background-color: #ccc;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.login_content_close_em:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.login_content_h3, .login_content_h4, .login_content_h5 {
    text-align: center
}

.login_content_h3 {
    font-size: 18px;
    color: #222
}

.login_content_h4 {
    font-size: 16px
}

#login_code_wrapper .login_content_h4, .login_content_h5 {
    font-size: 16px;
    color: #737373
}

#login_code_left_input+.login_input_clear {
    right: 88px
}

#login_init_wrapper {
    padding-top: 60px;
    text-align: center
}

#login_init_ul {
    padding: 0 20px
}

.login_init_li {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #000;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background-color: #f7f7f7;
    margin-bottom: 20px
}

.login_init_li.highlight {
    background-color: #c60a1e;
    border: 1px solid #c60a1e;
    color: #fff
}

#login_init_by_qq, #login_init_by_wx {
    color: #fff;
    margin-bottom: 40px;
    display: none
}

#login_init_by_qq {
    background-color: #12b7f5;
    border-color: #12b7f5
}

#login_init_by_wx {
    background-color: #6fc620;
    border-color: #6fc620
}

#login_init_by_qq:before, #login_init_by_wx:before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}

#login_init_by_qq:before {
    background-image: url(//s.geilicdn.com/login/20176/images/icon_qq.png)
}

#login_init_by_wx:before {
    background-image: url(//s.geilicdn.com/login/20176/images/icon_wx.png)
}

#login_init_wrapper .login_content_h3 {
    padding-bottom: 40px
}

#login_bind_wrapper .login_content_h3, #login_pwd_wrapper .login_content_h3, #login_tele_wrapper .login_content_h3 {
    padding-bottom: 25px
}

.login_input_div {
    position: relative;
    width: 100%;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff
}

.login_input_div .input_title {
    display: inline-block;
    width: 23%
}

#login_bind_left, #login_pwd_left, #login_quick_left, #login_tele_left {
    position: relative;
    width: 23%
}

#login_bind_right, #login_pwd_right, #login_quick_right, #CountriesRegions {
    width: 77%;
    text-indent: 15px
}

#login_bindCode_right:before, #login_bind_right:before, #login_code_right:before, #login_pwd_right:before, #getpin:before, #pinjsq:before, #login_quick_right:before, #CountriesRegions:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -10px;
    background-color: #ddd
}

#login_bind_right:after, #login_pwd_right:after, #login_quick_right:after, #CountriesRegions:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    right: 15px;
    top: 50%;
    margin-top: -7px;
    border-top: 2px solid #cacaca;
    border-right: 2px solid #cacaca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#login_bind_country, #login_pwd_country, #login_tele_country {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2
}

#invite, #phone, #login_bindCode_input, #PIN, #nickname, #wx, #pwd, #alipay, #name, #mtypeid, #login_code_left_input, #login_code_pwd_input, #login_isRegiTele_input, #login_pwd_input, #login_quick_input, #login_tele_input {
    width: 77%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 44px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.login_input_clear {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 18px 15px
}

.login_input_clear_icon {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #ddd;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

.login_input_clear_icon:before {
    content: "";
    width: 8px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 3px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.login_input_clear_icon:after {
    content: "";
    width: 8px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 3px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#invite::-webkit-input-placeholder, #phone::-webkit-input-placeholder, #login_bindCode_input::-webkit-input-placeholder, #nickname::-webkit-input-placeholder, #wx::-webkit-input-placeholder, #alipay::-webkit-input-placeholder, #name::-webkit-input-placeholder, #PIN::-webkit-input-placeholder, #pwd::-webkit-input-placeholder, #mtypeid::-webkit-input-placeholder, #login_code_pwd_input::-webkit-input-placeholder, #login_isRegiTele_input::-webkit-input-placeholder, #login_pwd_input::-webkit-input-placeholder, #login_quick_input::-webkit-input-placeholder, #login_tele_input::-webkit-input-placeholder {
    color: #cacaca
}

#invite, #phone, #PIN, #pwd, #mtypeid {
    width: 45%;
    padding-right: 0
}

#wx, #nickname, #alipay, #name {
    width: 70%;
    padding-right: 0
}

#login_bind_wrapper, #login_code_wrapper, #login_tele_wrapper {
    padding: 45px 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#login_bind_wrapper, #login_code_wrapper .login_content_h3 {
    margin-bottom: 10px
}

#login_bind_wrapper, #login_code_wrapper .login_content_h4 {
    margin-bottom: 20px
}

.login_content_foot_tip {
    margin-top: 15px;
    height: 15px;
    line-height: 15px;
    color: #ccc;
    font-size: 12px
}

.login_content_foot_tip a {
    font-size: 14px;
    color: #4384d8;
    vertical-align: middle
}

#login_code_left_input {
    width: 45%;
    padding-right: 35px
}

#login_bindCode_right {
    width: 86px;
    text-indent: 15px;
    font-size: 14px
}

#login_code_right, #getpin, #pinjsq {
    width: 86px;
    text-indent: 15px;
    font-size: 14px
}

#login_bind_wrapper, #login_code_wrapper, #login_content_wrapper, #login_init_wrapper, #login_pwd_wrapper, #login_tele_wrapper {
    display: none
}

#login_bind_wrapper, #login_code_wrapper, #login_init_wrapper, #login_pwd_wrapper, #login_tele_wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10
}

.login_bindCode_right_clickable, .login_code_right_clickable, .getpin_clickable {
    color: #4384d8
}

.pinjsq_clickable {
    color: #EE4000
}

#_confirm_content #_confirm_text .confirm_content_h6 {
    font-size: 18px;
    color: #222;
    margin: 0
}

#_confirm_content #_confirm_text .text {
    margin-top: 8px;
    font-size: 14px;
    color: #737373
}

#_confirm_content #_confirm_text .error_limit {
    font-size: 16px;
    color: #222
}

.login_init_by_qq_title, .login_init_by_wd_title, .login_init_by_wx_title {
    font-size: 14px;
    line-height: 14px;
    color: #737373;
    margin-bottom: 20px;
    text-align: left
}

#login_country_code_wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0)
}

#login_country_code_wrapper .login_content_h1 {
    height: 25px;
    line-height: 25px;
    color: #222;
    font-size: 20px;
    text-align: center;
    margin: 17px 0 30px
}

#login_country_code_wrapper_close {
    position: relative;
    left: 20px;
    top: 10px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    color: #292929
}

#login_country_code_wrapper.slideLeft {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#login_country_code_list {
    margin-right: 20px
}

#login_country_code_list .alphabet {
    height: 24px;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    text-indent: 20px;
    background-color: #f7f7f7;
    color: #222
}

#login_country_code_list .item {
    padding-right: 15px;
    margin-left: 20px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #f7f7f7
}

#login_country_code_list .item:last-child {
    border-bottom: none
}

#login_country_code_list .item em {
    float: left;
    font-size: 16px;
    color: #222
}

#login_country_code_list .item span {
    float: right;
    font-size: 16px;
    color: #737373
}

#login_bind_code_input, #login_pwd_code_input, #login_quick_code_input, #country {
    width: 50px;
    height: 100%;
    font-size: 16px
}

#login_alphabet_list {
    position: fixed;
    z-index: 1000;
    top: 80px;
    right: 0;
    height: 360px;
    width: 20px
}

#login_alphabet_list li {
    text-align: center;
    height: 17px
}

#login_alphabet_list li a {
    display: inline-block;
    width: 20px;
    height: 17px;
    line-height: 17px;
    font-size: 11px;
    color: #007aff
}

.login_quick_tip {
    font-size: 12px;
    color: #9a9a9a;
    line-height: 12px;
    margin-top: 10px
}

.login_quick_tip a {
    color: #4384d8
}

.login_tele_header {
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 0 #d6d6d6;
    box-shadow: 0 1px 0 0 #d6d6d6;
    font-size: 0;
    height: 44px;
    line-height: 44px;
    text-align: center
}

.login_tele_header .login_content_h4 {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #404040
}

.login_tele_header .login_content_h4.active span {
    position: relative;
    color: #c60a1e
}

.login_tele_header .login_content_h4.active span:before {
    content: '';
    position: absolute;
    bottom: -14px;
    left: -2px;
    right: -2px;
    border-bottom: 2px solid #c60a1e
}

#login_pwdLogin_wrapper, #login_quickLogin_wrapper {
    padding: 20px 20px 0
}

.login_protocol_check label {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    margin-right: 5px;
    border-radius: 2px
}

.login_protocol_check.checked label {
    border: 1px solid #ee6723
}

.login_protocol_check.checked label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 0;
    display: block;
    width: 3px;
    height: 6px;
    border-bottom: 1px solid #ee6723;
    border-right: 1px solid #ee6723;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
